.card-container {
  margin-left: 80px;
  width: 520px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  display: block;

  .card-banner {
    width: 100%;
  }

  .card-caption {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .card-title {
      font-weight: 800;
      margin-bottom: 5px;
    }

    .card-base-url {
      color: grey;
      font-size: 0.9rem;
      margin: 5px 0;
    }
  }
}